.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
  padding-top: 3.5rem;
}

.sidenav {
  padding-top: 3.5rem;
  width: 120px;
}

.sidenav-content {

}

.app-header {
  position: fixed;
  height: 3.5rem;
  top: 0;
  z-index: 2;
}

.toolbox-separator {
  flex: 1 1 auto;
}

.home {
  color: #000000;
  text-decoration:none;
}
