
<button mat-button mat-raised-button color="primary" >Button1</button>
<p>還有什麼旅行方式比在酒鄉行船更為愜意？無須擔心酒駕、憂心迷路，只須沿著一條河，品味一地的風雅、飲盡整個酒區的香醇。

  隨河旅行可以深入歷史的風華、探索大時代的風采。大河呈現非凡的氣度，小河則有任性的私密、甚至行遊出自我的航道。當見識過許多大山大水後，我在法國布根地的運河畔，上了船，在一個禮拜的時間裡，擁有一條運河、一片秘密花園、一個季節的鳥語花香。從登船的那個午後起，我擁有一艘私人遊艇，在布根地。

  私密的田園旅行

  當我和同事抵達了船所停泊的第戎．波倫比爾斯（Plombieres-les-Dijon）碼頭時，心裡一愣，不同於過往總在繁忙的港口登船，這次的登船點在河岸旁不到5戶人家的小村莊。船長從長約40公尺（120呎）的平底船（Barge）竄了出來歡迎我們，他說：「這艘繁榮號（Prospérité）就是未來一週的家。她走得很慢，以每小時不到6公里的時速行駛運河，是名副其實的慢速旅行。」

  布根地運河建於18世紀中期，修建運河的目的是為了可以將貨物往南連接隆河、運至地中海，往北則可連至北海。隨著路上交通的便捷，運河喪失過往的交通功能。當跟運河平行的高速公路車流呼嘯而過時，運河上的船以緩慢的速度前進，帶著遊客體驗田園牧歌般的節奏。經營布根地運河船觀光生意多年的史賓賽（Spencer）說：「我被這種緩慢又在地化的旅行方式吸引，而從英國搬來布根地。搭著慢船在酒鄉度假，多麼私密又愜意。」她有四間雙人套房、優雅的客廳、大器的餐廳，戶外的露台還有一個按摩浴缸，有如把頂級別墅（Villa）搬到船上。

  回歸自然做自己

  同船的旅人盧（Lu）來自德州，她不喜歡度假的時候還要盛裝打扮，所以對於須附庸風雅的頂級郵輪沒太大興趣，但這種小團體式的度假深得她心。她笑著說：「我邀請弟弟和弟媳一起來，凡事都有人張羅，我們就像擁有一艘私人遊艇。」她先生里奇（Richi）和弟弟鮑勃（Bob）均是快退休的工程師，一上船就很好奇這艘船的引擎如何？房間供應熱水的系統為何？就像在了解家裡的電機工程般研究著船上的電機設備。行船的時候，盧總是光著腳丫、躺在按摩浴缸旁的躺椅、讀著小說，偶爾起身到客廳的酒吧，自己調一杯琴湯尼（Gin Tonic），沈浸在自己的私密時光。

  而同行的商周執行長王文靜，一看到河岸上的鄉野綠意，興奮的說：「船開得那麼慢，我下船沿著河道走，一定走得比船還快！」每天早上，她都在河岸走著，路過了櫻桃樹、走過了蘋果樹、還採著野生的桑葚品味。

  儘管布根地是法國超人氣的葡萄酒鄉，但是運河所流經的區塊安靜如詩，在美國蒙大拿州置產的鮑勃說：「法國的鄉村寧靜得有點像蒙大拿，這趟旅程的風景裡，好像只有我們一樣。」

  看守水閘門的人

  如果說，航行中有什麼比較大分貝的人聲，那只有經過水閘門時。7天的航程會經過41個水閘，水閘如同升降梯，透過蓄水或洩水，讓船可以暢行於不同高度的水域。每個水閘口旁都有一個古樸的小房子，上面寫著閘口的編號。船緩緩的經過42號閘口，住在小房子裡的婦人出來幫忙開閘口，船長表示，這位太太已住在這個閘口40多年，每天看著船來船去。

  完美葡萄酒之旅

  當然，許多旅人是為了布根地的酒而來。在葡萄酒專書出現的明星字眼：哲維瑞｜｜香貝丹（Gevrey- Chambertin）、侯馬內｜｜康地（Romanée-Conti）、梧玖莊園（Clos de Vougeot）、蒙哈榭（Montrachet）、蜜思妮（Musigny）……在這段旅程一路相隨、酒香相伴。在德州擁有一片葡萄園的里奇說：「這就像圓夢之旅，好像走進永不打烊的名牌店。」

  日日微醺的回到船上，酒足飯飽後，一行人自在的聊天，看著天色變暗、看著星星升起，常協助船長開船的阿德里安（Adrian）吆喝大家一起釣魚。已屆退休年紀的鮑勃和里奇興奮的甩竿，有如置身在自己的小王國。

  下船後，執行長變回執行長、工程師變回工程師、律師變回律師，但我們會記得，曾經有一個禮拜，我有一艘私人遊艇，在布根地。</p>
