body {
  width: 100vw;
  height: 100vh;
  background-color: #313131;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 600px;
  background-color: darkgray;
}

.video-container {
  max-width: 600px;
}

.grid-tile {
  display: flex;
  flex-direction: column;
}
